<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hapi Garage!</title>
    <link rel="stylesheet" href="/public/app.css">
</head>