<template>
    <div>
        <b-table
                :data="data"
                :paginated="true"
                :per-page="10"
                :pagination-simple="true"
                default-sort="id">
            <template slot-scope="props">
                <b-table-column field="id" label="ID" width="40" sortable numeric>
                    {{ props.row.id }}
                </b-table-column>

                <b-table-column field="brand" label="Brand" sortable>
                    <a href="#" @click="detailCar(props.row.id)">{{ props.row.brand }}</a>
                </b-table-column>

                <b-table-column field="model" label="Model" sortable>
                    {{ props.row.model }}
                </b-table-column>

                <b-table-column field="year" label="Year" sortable>
                    {{ props.row.year }}
                </b-table-column>

                <b-table-column field="color" label="Color" sortable>
                    {{ props.row.color }}
                </b-table-column>

                <b-table-column field="mileage" label="Mileages" sortable>
                    {{ props.row.mileage }}
                </b-table-column>

                <b-table-column field="power" label="Power (HP)" sortable>
                    {{ props.row.power }}
                </b-table-column>

                <b-table-column field="registration_date" label="Registration Date" sortable>
                    {{ props.row.registration_date | unixToHuman }}
                </b-table-column>

                <b-table-column field="price" label="Price" sortable>
                    {{ props.row.price }}
                </b-table-column>

                <b-table-column label="Link">
                    <a :href="`/car/edit/${props.row.id}`" class="button is-info">Edit</a>
                </b-table-column>
            </template>
        </b-table>

        <b-modal :active.sync="modalCarActive" has-modal-card>
            <ModalCard :id="carID"></ModalCard>
        </b-modal>
    </div>
</template>

<script>
  import ModalCard from './modal-car'

  export default {
    props: ['cars'],
    data () {
      return {
        data: this.cars,
        modalCarActive: false,
        carID: 0
      }
    },
    components: {
      ModalCard
    },
    methods: {
      detailCar: function (id) {
        this.carID = id
        this.modalCarActive = true
      }
    }
  }
</script>