<template>
    <form :action="url" method="POST">
        <section>

            <b-field label="Name">
                <b-input v-model="name" name="name" required></b-input>
            </b-field>

            <b-field label="Address">
                <b-input v-model="address" name="address" required></b-input>
            </b-field>

            <b-field label="Phone">
                <b-input v-model="phone_number" name="phone_number"></b-input>
            </b-field>

            <b-field label="Email">
                <b-input v-model="email" name="email"></b-input>
            </b-field>

            <b-field label="Max Car">
                <b-input v-model="max_car" name="max_car" type="number" min="0" required></b-input>
            </b-field>

            <button class="button is-primary" type="submit">
                Save
            </button>

        </section>
    </form>
</template>

<script>
  export default {
    props: ['url', 'data'],
    data () {
      return {
        name: this.data.name,
        address: this.data.address,
        phone_number: this.data.phone_number,
        email: this.data.email,
        max_car: this.data.max_car
      }
    }
  }
</script>