<template>
    <form :action="url" method="POST">
        <section>

            <b-field label="Brand">
                <b-input v-model="brand" name="brand" required></b-input>
            </b-field>

            <b-field label="Model">
                <b-input v-model="model" name="model"></b-input>
            </b-field>

            <b-field label="Year">
                <b-input v-model="year" name="year" required type="number" min="0"></b-input>
            </b-field>

            <b-field label="Color">
                <b-input v-model="color" name="color"></b-input>
            </b-field>

            <b-field label="Engine">
                <b-input v-model="engine" name="engine"></b-input>
            </b-field>

            <b-field label="Mileage (KM)">
                <b-input v-model="mileage" name="mileage" type="number" min="0"></b-input>
            </b-field>

            <b-field label="Power (HP)">
                <b-input v-model="power" name="power" type="number" min="0"></b-input>
            </b-field>

            <b-field label="Registration Date">
                <b-datepicker
                        placeholder="Click to select..."
                        icon="calendar-today"
                        name="registration_date"
                        v-model="registration_date"
                        required>
                </b-datepicker>
            </b-field>

            <b-field label="Price">
                <b-input v-model="price" name="price" type="number" min="0"></b-input>
            </b-field>

            <b-field label="Garage">
                <b-select v-model="garage_id" name="garage_id" placeholder="Select a garage">
                    <option
                            v-for="g in garages"
                            :value="g.id"
                            :key="g.id">
                        {{ g.name }}
                    </option>
                </b-select>
            </b-field>

            <button class="button is-primary" type="submit">
                Save
            </button>

        </section>
    </form>
</template>

<script>
  export default {
    props: ['url', 'data', 'garages'],
    data () {
      return {
        brand: this.data.brand,
        model: this.data.model,
        year: this.data.year,
        color: this.data.color,
        engine: this.data.engine,
        mileage: this.data.mileage,
        registration_date: new Date(this.data.registration_date),
        price: this.data.price,
        power: this.data.power,
        garages: this.garages,
        garage_id: this.data.garage_id
      }
    }
  }
</script>