<template>
    <b-table
            :data="data"
            :paginated="true"
            :per-page="10"
            :pagination-simple="true"
            default-sort="id">
        <template slot-scope="props">
            <b-table-column field="id" label="ID" width="40" sortable numeric>
                {{ props.row.id }}
            </b-table-column>

            <b-table-column field="name" label="Nama" sortable>
                {{ props.row.name }}
            </b-table-column>

            <b-table-column field="address" label="Kota" sortable>
                {{ props.row.address }}
            </b-table-column>

            <b-table-column field="car_count" label="Jumlah Mobil" sortable numeric>
                {{ props.row.car_count }}
            </b-table-column>

            <b-table-column label="Link">
                <a :href="`/garage/${props.row.id}`" class="button is-info">Detail</a>
            </b-table-column>
        </template>
    </b-table>
</template>

<script>
  export default {
    props: ['garages'],
    data () {
      return {
        data: this.garages
      }
    }
  }
</script>