<template>
    <div class="modal-card" style="width: auto;">
        <section class="modal-card-body" v-if="car">
            <ul>
                <li>Brand: {{ car.brand }}</li>
                <li>Model: {{ car.model }}</li>
                <li>Year: {{ car.year }}</li>
                <li>Color: {{ car.color }}</li>
                <li>Mileage: {{ car.mileage }}</li>
                <li>Power: {{ car.power }}</li>
                <li>registration_date: {{ car.registration_date | unixToHuman}}</li>
                <li>price: {{ car.price }}</li>
            </ul>
        </section>
        <section class="modal-card-foot">
            <button class="button" type="button" @click="$parent.close()">Close</button>
        </section>
    </div>
</template>

<script>
  import axios from 'axios'

  export default {
    props: ['id'],
    data () {
      return {
        car: null
      }
    },
    mounted () {
      axios.get(`/api/car/${this.id}`)
        .then(req => {
          this.car = req.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  }
</script>