<section class="section">
    <div class="container">
        <div id="app">
            <form-car :data='<%= JSON.stringify(data) %>'
                      url="<%= url %>"
                      :garages='<%= JSON.stringify(garages) %>'>
            </form-car>
        </div>
    </div>
</section>