<div id="app">

    <section class="section">
        <div class="container">
            <nav class="level">
                <div class="level-left">
                    <a href="/garage/create" class="level-item button is-primary">
                        create garasi
                    </a>
                    <a href="/garage/edit/<%= data.id %>" class="level-item button is-info">
                        update garasi ini
                    </a>
                </div>
            </nav>
        </div>
    </section>

    <hr>

    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <%= data.name %>
                </h1>
                <h2 class="subtitle">
                    <%= data.address %>
                </h2>
            </div>
        </div>
    </section>

    <hr>

    <section class="section">
        <div class="container">
            <ul>
                <li>Email: <%= data.email %></li>
                <li>Phone: <%= data.phone_number %></li>
                <li>Max Car: <%= data.max_car %></li>
            </ul>
        </div>
    </section>

    <hr>

    <section class="section">
        <div class="container">
            <nav class="level">
                <div class="level-left">
                    <a href="/car/create" class="button level-item is-primary">Tambah Mobil</a>
                </div>
            </nav>
            <car-table :cars='<%= JSON.stringify(data.cars) %>'></car-table>
        </div>
    </section>
</div>