<section class="section">
    <div class="container">
        <div id="app">
            <form-garage :data='<%= JSON.stringify(data) %>' url="<%= url %>"></form-garage>
        </div>
    </div>
</section>