<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hapi Garage!</title>
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/public/app.css">
</head>
<body>
<%- include('includes/navbar'); %>
<%- content %>
<script src="/public/app.js"></script>
</body>
</html>